<%@	OutputCache Location=None%>
<%@ page language="vb" autoeventwireup="false" inherits="PFACT.Sidebar, pFACT_Deploy" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>pFACT</title>
		
		

		<meta content="Microsoft Visual Studio.NET 7.0" name="GENERATOR">
		<meta content="Visual Basic 7.0" name="CODE_LANGUAGE">
		<meta content="JavaScript" name="vs_defaultClientScript">
		<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema">
		<%=styleSheetVar%>
		<SCRIPT language="javascript">
			function showDiv(objIndex)
				{/*
					var myElement = document.getElementById("setupDiv");
					myElement.style.top= objIndex +'px';
					myElement.style.visibility='visible';	
					*/
				}
			function hideDiv()
				{
				/*
					var myElement = document.getElementById("setupDiv");
					myElement.style.visibility='hidden';	
				*/	
				}	
		</SCRIPT>
		<style>A { COLOR: #ffffff; TEXT-DECORATION: none }
	A:hover { TEXT-DECORATION: underline }
	DIV { PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; COLOR: #ffffff; PADDING-TOP: 0px; FONT-FAMILY: Verdana, sans-serif; BACKGROUND-COLOR: #000099; layer-background-color: #000000 }
	DIV.menuMain { LEFT: 30px; VISIBILITY: visible; WIDTH: 150px; HEIGHT: 20px }
	DIV.menuDropDown { LEFT: 50px; VISIBILITY: hidden; WIDTH: 100px; POSITION: absolute; TOP: 30px; HEIGHT: 85px }
		</style>
		<script type="text/javascript">function Go(){return}</script>
		
			
		
<style>
.alertcontainer {
   position: relative;
}
.alerttag {
   float: left;
   position: absolute;
   border: 2px solid black;
   left: 5px;
   top: 400px;
   width: 100px;
   height: 60px;
   z-index: 1000;
   padding: 5px;

   font-size: 10px; 
}


.alerttagPAC {
   float: left;
   position: absolute;
   border: 2px solid black;
   left: 5px;
   top: 500px;
   width: 100px;
   height: 60px;
   z-index: 1000;
   padding: 5px;

   font-size: 10px; 
}


.alerttaghelp {
   float: left;
   position: absolute;
   border: 2px solid black;
   left: 5px;
   top: 600px;
   width: 100px;
   height: 40px;
   z-index: 1000;
   padding: 5px;

   font-size: 10px; 
}


</style>
<!--
<div class="alertcontainer">

	<div id="alertuserdisplay" class="alerttag" > 
<table class="stat">

<tr>
<td>
<div style="display:inline;"><a href="mrfreport.asp" target="pfactrepwin" >MRF Report</a></div>
</td>
</tr>

<tr>
<td>
<div style="display:inline;"><a href="pooltechnicians.asp" target="pfactrepwin" >Tech Report</a></div>
</td>
</tr>

<tr>
<td>
<div style="display:inline;"><a href="report1650.asp" target="pfactrepwin" >1650</a></div>
</td>
</tr>
</table>	

</div>
	

<div id="alertuserdisplay" class="alerttagPAC" > 
<table class="stat">	
<tr>
<td>
<div style="display:inline;"><a href="http://vmpac:90/PAC/micrm/BUDGET/" target="_newpac" >PAC Budget System</a></div>
</td>
</tr>
</table>
</div>	



<div id="alertuserdisplay" class="alerttaghelp" > 
<table class="stat">	
<tr>
<td>
<div style="display:inline;"><a href="help.asp" target="pfactrepwin" >Help</a></div>
</td>
</tr>
</table>
</div>	
	
</div>	
-->

	</HEAD>
	<body class="SideBar">
		<form id="Form1" method="post" runat="server">
			<INPUT id="hdnArrTextVals" style="Z-INDEX: 101; LEFT: 248px; POSITION: absolute; TOP: 352px"
				type="hidden" name="hdnArrTextVals" runat="server">
				<INPUT id="hdnOtherVars" style="Z-INDEX: 102; LEFT: 8px; POSITION: absolute; TOP: 8px"
				type="hidden" name="hdnOtherVars" runat="server">
				
		</form>
		<script src="menubar.js" type="text/javascript"></script>
		<script src="menuFunctions.js" type="text/javascript"></script>
		
		
		
		
	</body>
</HTML>

